@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: inter;
}

.header_section {
  background-color: #F5F7FA;
}
.header_section .container .navbar ul li {
  font-size: 16px;
  font-weight: 500;
}

.hero_section {
  background: #F5F7FA;
}
.hero_section .container {
  display: flex;
  padding: 96px 0px;
}
.hero_section .container .lesson h1 {
  font-size: 64px;
  font-weight: 600;
}
.hero_section .container .lesson h1 span {
  color: #459E47;
}
.hero_section .container .lesson p {
  font-size: 16px;
  font-weight: 400;
}
.hero_section .container .lesson button {
  background: #459E47;
}
.hero_section .container .img {
  width: 391px;
  height: 407px;
}

.client_section .container {
  text-align: center;
  align-items: center;
}
.client_section .container .client_heading h2 {
  padding: 30px 0px 0px 0px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}
.client_section .container .client_heading p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 40px;
  color: #717171;
}
.client_section .container .img {
  justify-content: center;
  margin-top: 30px;
  display: flex;
  gap: 120px;
}

.manage_section {
  margin-top: 100px;
}
.manage_section .container {
  justify-content: center;
  text-align: center;
}
.manage_section .container .sub_heading1 {
  justify-content: center;
}
.manage_section .container .sub_heading1 h2 {
  color: #4D4D4D;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 44px;
}
.manage_section .container .sub_heading1 p {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
}
.manage_section .container .sub_heading2 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.manage_section .container .sub_heading2 .card {
  border: 1px solid #F5F7FA;
  background: #FFFFFF;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
}
.manage_section .container .sub_heading2 .card .card-img-top {
  width: 65px;
  height: 56px;
}
.manage_section .container .sub_heading2 .card h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #4D4D4D;
}
.manage_section .container .sub_heading2 .card p {
  font-size: 14px;
  font-weight: 400px;
  color: #717171;
}

.unseen_section .container {
  display: flex;
  padding: 96px 0px;
}
.unseen_section .container img {
  width: 442px;
  height: 433px;
}
.unseen_section .container .unseen_text h2 {
  font-size: 36px;
  font-weight: 600;
  color: #4D4D4D;
}
.unseen_section .container .unseen_text p {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  max-width: 583px;
}
.unseen_section .container .unseen_text .btn {
  background: #459E47;
  color: #F5F7FA;
}

.helping_section {
  background: #F5F7FA;
  padding: 64px 112px;
}
.helping_section .container {
  display: flex;
  align-items: center;
}
.helping_section .container .left_side {
  width: 50%;
}
.helping_section .container .left_side h2 {
  font-size: 36px;
  font-weight: 600;
}
.helping_section .container .left_side h2 span {
  color: #459E47;
}
.helping_section .container .left_side p {
  font-size: 16px;
  font-weight: 400;
}
.helping_section .container .right_side .grid {
  display: flex;
  gap: 60px;
}
.helping_section .container .right_side .grid .sangay {
  display: flex;
  gap: 30px;
}
.helping_section .container .right_side .grid .sangay .wangmo {
  display: flex;
}
.helping_section .container .right_side .grid .sangay .wangmo img {
  width: 48px;
  height: 48px;
}
.helping_section .container .right_side .grid .sangay .wangmo h2 {
  font-size: 28px;
  font-weight: 700;
}
.helping_section .container .right_side .grid .sangay .wangmo p {
  font-size: 16px;
  font-weight: 400;
}

.design_section .container {
  display: flex;
  padding: 40px;
}
.design_section .container img {
  width: 442px;
  height: 433px;
}
.design_section .container .design_text {
  margin-top: 70px;
  padding-left: 70px;
}
.design_section .container .design_text h2 {
  font-size: 32 px;
  font-weight: 600;
  color: #4D4D4D;
}
.design_section .container .design_text p {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  max-width: 600px;
}
.design_section .container .design_text .btn {
  background: #459E47;
  color: #F5F7FA;
}

.customer-section {
  background-color: #F5F7FA;
  padding: 64px 0px;
}
.customer-section .container .customer-content {
  display: flex;
  justify-content: space-between;
  margin: 33px 0px;
}
.customer-section .container .customer-content .customer-img {
  width: 40%;
}
.customer-section .container .customer-content .contents {
  width: 60%;
}
.customer-section .container .customer-content .contents p {
  font-size: 14px;
  font-weight: 500;
  color: #717171;
}
.customer-section .container .customer-content .contents .title h6 {
  font-size: 20px;
  font-weight: 600;
  color: #459E47;
}
.customer-section .container .customer-content .contents .title p {
  font-size: 16px;
  font-weight: 400;
  color: #89939E;
}
.customer-section .container .customer-content .contents .about-img {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.card-section {
  padding-top: 64px;
}
.card-section .container .card-heading {
  text-align: center;
}
.card-section .container .card-heading h2 {
  font-size: 36px;
  font-weight: 600;
  color: #4D4D4D;
}
.card-section .container .card-heading p {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
}
.card-section .container .card-body {
  text-align: center;
  z-index: 1;
  position: relative;
  bottom: 100px;
  width: 317px;
  height: 176px;
  background-color: #F5F7FA;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.card-section .container .card-body p {
  font-size: 20px;
  font-weight: 600;
  color: #717171;
}
.card-section .container .card-body button {
  font-size: 20px;
  font-weight: 600;
  color: #459E47;
}

.demo_section {
  background-color: #F5F7FA;
}
.demo_section .container-fluid {
  padding: 32px 0px;
}
.demo_section .container-fluid .content {
  text-align: center;
}
.demo_section .container-fluid .content h1 {
  font-size: 64px;
  font-weight: 600;
}
.demo_section .container-fluid .content button {
  background-color: #4caf4f;
  color: #fff;
  width: 178px;
  height: 52px;
  margin-top: 32px;
}

.footer_section {
  background-color: #28323c;
}
.footer_section .container {
  padding: 64px 165px;
  display: flex;
  gap: 125px;
}
.footer_section .container .footer_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.footer_section .container .footer_left .text {
  color: #fff;
}
.footer_section .container .footer_left .text p {
  margin-bottom: 0;
}
.footer_section .container .footer_left .socials_icon {
  letter-spacing: 15px;
}
.footer_section .container .footer_right {
  display: flex;
  justify-content: space-between;
  width: 55%;
  color: #fff;
}
.footer_section .container .footer_right .content {
  display: flex;
  flex-direction: column;
}
.footer_section .container .footer_right .content h6 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
}
.footer_section .container .footer_right .content .sub {
  display: flex;
  border-radius: 8px;
  border: 1px solid #515B60;
  background-color: #515B60;
  justify-content: space-between;
  width: 255px;
  height: 40px;
  cursor: text;
}
.footer_section .container .footer_right .content .sub p {
  margin-bottom: 6px;
  font-size: 14px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */